<div class="card" style="margin-top: 10px;" *ngIf="post">
  <div class="card-header  bg-info text-white">
    <h1>{{post.title}}</h1>
  </div>
  <div class="card-body">
    <div class="row post-content">
      {{post.content}}
    </div>
    <br>
    <button class="btn btn-info" (click)="likeFn()" *ngIf="!likesIncluded">
      Like
      <i class="fa fa-thumbs-up"></i>
    </button>
    <button class="btn btn-danger" *ngIf="likesIncluded" (click)="unlikeFn()">
      Unlike
      <i class="fa fa-thumbs-down"></i>
    </button>
    <app-view-modal [likes]="post.likes"></app-view-modal>
    <button class="btn btn-primary" (click)="showComments = !showComments">{{showComments ? 'Hide Comments' : 'Show Comments'}} {{post.comments.length}}&nbsp;
      <i class="fa fa-comment"></i>
    </button>
  </div>
  <div class="card-footer">
    Author:
    <strong>{{post.author}}</strong>&nbsp;&nbsp; Create At:
    <strong>{{post.created_at | date: 'medium'}}</strong>
  </div>
  <div class="row" *ngIf="showComments">
    <ul class="lis-group col-md-12">
      <li class="list-group-item" *ngFor="let comment of post.comments">
        <strong>{{comment.commentedBy}}</strong> : {{comment.content}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-12">
    <textarea cols="30" rows="2" style="margin: 5px 0px;" placeholder="Enter new comment here..." class="form-control" [(ngModel)]="newComment"></textarea>
    <button class="btn btn-success" (click)="addComment()">Add Comment</button>
  </div>
</div>